@mixin goFlex ($dir:row, $justify: flex-start, $align:stretch,$wrap:nowrap,$content:flex-start) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    align-content: $content;
}