$primaryColor: #000000;
$secondaryColor:#8A8787;
$contentTextColor: white;
$backgroundColor:#d4d1d15b ;

$navFontSize: 11px;
$mainFontSize: 24px; 
$footFontSize: 12px;
$contentFontSize: 10px;



$mobile-version: 400px;
$tablet-version: 768px;
$desktop-version:1024px;